.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  // margin-bottom: 2rem;

  > h1 {
    align-self: flex-start;
  }

  > p {
    color: #5f5f5f;
  }

  .header-text-black {
    color: black;
  }
}

.hr {
  border: 0;
  border-bottom: 1px solid gray;
  opacity: 0.2;
  width: 100%;
  margin: 0;
}

.filter {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.trigger {
  cursor: pointer;
}

.skeleton {
  width: 100%;
}

.icon {
  border-radius: initial;
  height: 1.25rem;
  width: 1.25rem;
  margin: 0 0.625rem;
}

img {
  border-radius: 0.625rem;
}

.filter-icon {
  margin-right: 0.59375rem;
}

.infinite-scroll-component {
  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    grid-gap: 1rem;
  }
}
