.filter-header {
  display: flex;
  justify-content: space-between;
}

.filter-price {
  //   display: flex;
  //   width: 100%;
  //   align-items: center;

  display: grid;
  grid-template-columns: 45% 5% 45%;
  grid-column-gap: 0.625rem;
  align-items: center;
}

.filter-bedroom {
  display: flex;
  justify-content: space-between;
  width: 100%;

  > div {
    border: 1px solid #d1d1d1;
    padding: 0.5rem 0.625rem;
    font-size: 0.8125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.3125rem;
    border-radius: 5px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      color: #ee620f;
      background-color: #ffdac4;
    }
  }
}

.input {
  height: 35px;
  //   width: auto;
  //   max-width: 150px;
  padding-left: 15px;
}
