.filter-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.filter-price {
  //   display: flex;
  //   width: 100%;
  //   align-items: center;

  display: grid;
  grid-template-columns: 45% 5% 45%;
  grid-column-gap: 0.625rem;
  align-items: center;
}

.filter-bedroom {
  display: flex;
  flex-direction: column;

  .bedroom-inputs {
    display: flex;
    justify-content: space-between;

    > div {
      border: 1px solid #d1d1d1;
      padding: 0.5rem 0.6125rem;
      font-size: 0.8125rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0.3125rem;
      border-radius: 5px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: #ee620f;
        background-color: #ffdac4;
      }
    }
  }
}

.filter-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter-button {
  background-color: #e55710;
  color: #ffffff;
  border-radius: 5px;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  width: 86%;
  margin: 0 auto;
  // margin: 0 7%;
  outline: none;
  border: none;
}

.input {
  height: 35px;
  //   width: auto;
  //   max-width: 150px;
  padding-left: 15px;
}
